<strong>Olá!!!</strong>

<p>Se você recebeu esse email, você é nerd e gosta muito de café!!!</p>
<p>Nossa próxima reunião será no dia {{meeting_date}}, e o tema proposto é:{{meeting_topic}}</p>
<p>Para confirmar sua presença, por favor clique no link: <a href="{{link}}">Confirmação</a></p>
